// new
.gameLoad {
    background-color: rgba(252,171,16, 0.82);
    width: 100%;
    height: 100vh;
    padding: 40px;
        .gameLoadContainer {
          @include displayFlex;
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
                h2 {
                @include headings(7rem);
                color: white;
                text-align: center;
                margin: 20px 0;
                //laptop breakpoint 
                @include breakpoint(laptop){
                    font-size: 11rem;
                    margin-bottom: 50px;
                }
                // tablet breakpoint
                @include breakpoint(tablet) {
                    font-size: 7.6rem; 
                    margin-bottom: 40px;   
                } 
                // phablet breakpoint
                @include breakpoint(phablet) {
                    font-size: 3.5rem;
                }
                // mobileonly breakpoint 
                @include breakpoint(mobileonly){
                    font-size: 3.5rem;
                }
                // smallmobileonly breakpoint 
                @include breakpoint(smallmobileonly){
                    font-size: 2.8rem;
                    margin: 5px 0;
                }
                }
                p {
                    @include paragraphs(2.2rem);
                    color: $buttonColour5;
                    margin-bottom: 30px;
                    letter-spacing: 4px;
                    text-align: center;
                    line-height: 45px;
                      //laptop breakpoint 
                    @include breakpoint(laptop){
                        font-size: 5.8rem;
                        letter-spacing: 4.5px;
                        line-height: 75px;
                        margin-bottom: 50px;
                    }
                     // tablet breakpoint
                    @include breakpoint(tablet) {
                       font-size: 4.3rem;
                       line-height: 50px; 
                       margin-bottom: 35px;
                    } 
                    // phablet breakpoint
                    @include breakpoint(phablet) {
                        font-size: 2rem;
                        line-height: 30px;
                    }
                    // mobileonly breakpoint 
                    @include breakpoint(mobileonly){
                        font-size: 2rem;
                        letter-spacing: 2px;
                        line-height: 28px;
                        margin-bottom: 10px;
                    }
                    // smallmobileonly breakpoint 
                    @include breakpoint(smallmobileonly){
                        font-size: 1.8rem;
                        letter-spacing: 1.5px;
                        line-height: 25px;
                        margin-bottom: 5px;
                    }
                }
                .startButton {
                    @include paragraphs(2.2rem);
                    color: white;
                    display: block;
                    margin: 0 auto;
                    background: rgba(39,64,96,0.95);
                    width: 18%;
                    padding: 12px 0px;
                    border: none;
                    border-radius: 100px;
                    text-transform: uppercase;
                    transition: .5s all ease;
                      //laptop breakpoint 
                    @include breakpoint(laptop){
                        width: 45%;
                        font-size: 6rem;
                        letter-spacing: 6px;  
                        padding: 40px 0;  
                    }
                     // tablet breakpoint
                    @include breakpoint(tablet) {
                       width: 45%; 
                       font-size: 4rem;
                       padding: 30px 0;
                    } 
                    // phablet breakpoint
                    @include breakpoint(phablet) {
                        width: 50%;
                        font-size: 2.5rem;
                        padding: 15px 0;
                    }
                    // mobileonly breakpoint 
                    @include breakpoint(mobileonly){
                        font-size: 2rem;
                        width: 60%;
                        margin: 5px 0;
                    }
                    // smallmobileonly breakpoint 
                    @include breakpoint(smallmobileonly){
                        font-size: 2rem;
                        width: 65%;
                        padding: 9px 0;
                
                    }
                        &:hover {
                            background: white;
                            color: $buttonColour5;
                        }
                }
        }
        
    }