// new
.gameLoad {
    background-color: rgba(252,171,16, 0.95);
    width: 100%;
    height: 100vh;
    padding: 40px;
        .wrapper {
          
                h2 {
                @include headings(5rem);
                color: white;
                text-align: center;
                margin: 20px 0;
                }
                p {
                    @include paragraphs(2.2rem);
                    color: white;
                    margin-bottom: 30px;
                }
                .startButton {
                    @include paragraphs(2.2rem);
                    color: white;
                    display: block;
                    margin: 0 auto;
                    background: $buttonColour5;
                    width: 18%;
                    padding: 10px 0px;
                    border: none;
                    border-radius: 100px;
                    text-transform: uppercase;
                    transition: .5s all ease;
                        &:hover {
                            background: white;
                            color: $buttonColour5;
                        }
                }
        }
        
    }