.hide{
    display: none;
}

.smallFont{
    font-size: 1rem;
}

main{
    background-color: #b5dbf2;
    background-image: url(../../../assets/world-map.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: top;
    text-align: center;
    min-height: 100vh;
    padding-top: 2%;
    .mainContainer{
        background: rgba(181, 219, 242, 0.8);
        padding: 1%;
        border-radius: 10px;
        .country{
            @include headings(7.8rem);
            color: white;
            max-width: 100%;
            text-align: center;
            margin: 15px 5px;
            //laptop breakpoint 
            @include breakpoint(laptop){
                font-size: 8rem;
            }
            // tablet breakpoint
            @include breakpoint(tablet){
                font-size: 7.5rem;
            } 
            // phabelt breakpoint 
            @include breakpoint(phablet){
                font-size: 4.2rem;
                margin: 10px;
                letter-spacing: 1.3px;
            }
            // mobileonly breakpoint
            @include breakpoint(mobileonly){
                font-size: 3.2rem;
                margin: 10px;
                letter-spacing: 1px;
            }
            // smallmobileonly breakpoint 
            @include breakpoint(smallmobileonly){
                font-size: 3rem;
                margin: 3px;
            }
        }
        .clock{
            @include paragraphs(7rem);
            color: white;
            padding: 30px 0;
            //laptop breakpoint 
            @include breakpoint(laptop){
                font-size: 9.5rem;
            }
            // tablet breakpoint
            @include breakpoint(tablet){
                font-size: 7.5rem;
            } 
            // phabelt breakpoint 
            @include breakpoint(phablet){
                font-size: 4.5rem;
            }
            // mobileonly breakpoint
            @include breakpoint(mobileonly){
                font-size: 4.5rem;
            }
            // smallmobileonly breakpoint 
            @include breakpoint(smallmobileonly){
                font-size: 4rem;
            }
        }
        .scoreCard{
            @include paragraphs(4rem);
            color: white;
            //laptop breakpoint 
            @include breakpoint(laptop){
                font-size: 7rem;    
            }
            // phabelt breakpoint 
            @include breakpoint(phablet){
                font-size: 3rem;
            }
            // mobileonly breakpoint
            @include breakpoint(mobileonly){
                font-size: 2rem;
            }
            p{
                @include paragraphs(4rem);
                color: white;
                text-transform: uppercase;
                padding: 20px 0;
                //laptop breakpoint 
                @include breakpoint(laptop){
                    font-size: 7rem; 
                    padding: 30px 0;  
                }
                // phabelt breakpoint 
                @include breakpoint(phablet){
                    font-size: 3.2rem;
                    padding: 10px 0;
                }
                // mobileonly breakpoint
                @include breakpoint(mobileonly){
                    font-size: 3rem;
                    padding: 5px 0;
                }
                // smallmobileonly breakpoint 
                @include breakpoint(smallmobileonly){
                    font-size: 3rem;
                }
                // smallmobileonly breakpoint 
                @include breakpoint(smallmobileonly){
                    font-size: 2.5rem;
                }
            }
        }
    }
}

// button styles
.buttons{
    @include displayFlex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    //laptop breakpoint 
    @include breakpoint(laptop){
        flex-direction: column;
        align-items: center;    
    }
    // tablet breakpoint
    @include breakpoint(tablet){
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    } 
    // phabelt breakpoint 
    @include breakpoint(phablet){
        flex-direction: column;
        margin: 35px 15px;
    }
    // mobileonly breakpoint
    @include breakpoint(mobileonly){
        flex-direction: column;
        justify-content: center;
        margin: 30px 20px;
    }
    .animate{
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
    }
    .actionButton{
        position: relative;
        padding: 20px 40px;
        margin: 10px;
        width: 45%;
        border-radius: 10px;
        font-size: 5rem;
        color: white;
        text-align: center;
        text-decoration: none;
        transition: 1s all ease;
        border: none;
        //laptop breakpoint 
        @include breakpoint(laptop){
            font-size: 7.5rem;
            letter-spacing: 5px;
            width: 80%;
            padding: 20px 40px;
            margin: 20px 0;    
        }
        // tablet breakpoint
        @include breakpoint(tablet){
            font-size: 5rem;
            width: 80%;
            padding: 20px 0;
            margin: 8px 0;
        } 
        // phabelt breakpoint 
        @include breakpoint(phablet){
            width: 100%;
            padding: 15px 0;
            font-size: 3rem;
        }
        // mobileonly breakpoint
        @include breakpoint(mobileonly){
            width: 100%;
            font-size: 2.5rem;
        }	
        // smallmobileonly breakpoint 
        @include breakpoint(smallmobileonly){
            font-size: 2.5rem;
            padding: 10px;
        }
        &:active{
            transform: translate(0px,5px);
            -webkit-transform: translate(0px,5px);
            border-bottom: 1px solid;
        }
        &:active{
            background-color: $buttonColour5;
            border-bottom: 5px solid #1f334c;
            text-shadow: 0px -2px #1f334c;
            border: none;
            outline: none;
        }
    }
    .answerOne{
        background-color: $buttonColour1;
        border-bottom: 5px solid #42793c;
        text-shadow: 0px -2px #42793c;
    }
    .answerTwo{
        background-color: $buttonColour2;
        border-bottom: 5px solid #3d7360;
        text-shadow: 0px -2px #3d7360;
    }
    .answerThree{
        background-color: $buttonColour3;
        border-bottom: 5px solid #903556;
        text-shadow: 0px -2px #903556;
    }
    .answerFour{
        background-color: $buttonColour4;
        border-bottom: 5px solid #227e8f;
        text-shadow: 0px -2px #227e8f;
    }
}