.hide {
    display: none;
}

// new

main {
    background-color: $backgroundColour;
    text-align: center;
    height: 100vh;
        .country {
            @include headings(6.8rem);
            color: white;
            text-align: center;
            margin: 30px 0;
        }
        .clock {
            @include paragraphs(7rem);
            color: white;
            padding: 30px 0;
        }
        .scoreCard {
            @include paragraphs(4rem);
            color: white;
                p{
                    @include paragraphs(4rem);
                    color: white;
                    text-transform: uppercase;
                    padding: 20px 0;
                }
            }
    }

// button styles
.buttons {
    @include displayFlex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    .animate
    {
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
    }

    .actionButton
    {
        position: relative;
        padding: 10px 40px;
        margin: 0px 10px 10px 0px;
        width: 40%;
        border-radius: 10px;
        font-size: 3rem;
        color: white;
        text-align: center;
        text-decoration: none;
        transition: 1s all ease;
        border: none;	
            &:active {
                transform: translate(0px,5px);
                -webkit-transform: translate(0px,5px);
                border-bottom: 1px solid;
            }
            &:focus {
                background-color: $buttonColour5;
                border-bottom: 5px solid #1f334c;
                text-shadow: 0px -2px #1f334c;
                border: none;
                outline: none;
            }
    }

    .answerOne {
        background-color: $buttonColour1;
        border-bottom: 5px solid #42793c;
        text-shadow: 0px -2px #42793c;
    }

    .answerTwo {
        background-color: $buttonColour2;
        border-bottom: 5px solid #3d7360;
        text-shadow: 0px -2px #3d7360;
    }

    .answerThree {
        background-color: $buttonColour3;
        border-bottom: 5px solid #903556;
        text-shadow: 0px -2px #903556;
    }

    .answerFour {
        background-color: $buttonColour4;
        border-bottom: 5px solid #227e8f;
        text-shadow: 0px -2px #227e8f;
    }
}    

.finalResult {
    background-color: rgba(225,85,84, 0.8);
    height: 95vh;
}