*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

html{
	font-size: 62.5%;
}

.wrapper{
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
}

body{
    font-size: 1.6rem;
    position: relative;
}

// colour variables 

// new
$mainText: #000000;
// new
$buttonColour1: #5fad56;
$colour2: #f2c14e;
$backgroundColour: #f78154;
$buttonColour2: #4d9078;
$buttonColour3: #b4436c;
$buttonColour4: #2B9EB3;
$buttonColour5: #274060;

@mixin headings($font-size){
    font-size: $font-size;
    font-family: 'Archivo Black', sans-serif;
    color: $mainText;
    letter-spacing: 10px;
    text-transform: uppercase;
}

@mixin paragraphs($font-size){
    font-size: $font-size;
    font-family: 'Montserrat', sans-serif;
    color: $mainText;
    line-height: 25px;
    letter-spacing: 2.7px;
}

@mixin displayFlex{
    display: flex;
}

// break point mixins

@mixin breakpoint($point){
    // 
    @if $point == desktop{
        @media (max-width: 1280px) { @content ; }
    }
    @else if $point == laptop{
        @media (max-width: 1024px) { @content ; }
    }
    @else if $point == phablet{
        @media (max-width: 768px) { @content ; }
    }
    @else if $point == phablet{
        @media (max-width: 550px)  { @content ; }
    }
    @else if $point == mobileonly{
        @media (max-width: 375px)  { @content ; }

    }
    @else if $point == smallmobileonly{
        @media (max-width: 320px)  { @content ; }
    }
}