article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto; }

body {
  font-size: 1.6rem;
  position: relative; }

.gameLoad {
  background-color: rgba(252, 171, 16, 0.82);
  width: 100%;
  height: 100vh;
  padding: 40px; }
  .gameLoad .gameLoadContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .gameLoad .gameLoadContainer h2 {
      font-size: 7rem;
      font-family: 'Archivo Black', sans-serif;
      color: #000000;
      letter-spacing: 10px;
      text-transform: uppercase;
      color: white;
      text-align: center;
      margin: 20px 0; }
      @media (max-width: 768px) {
        .gameLoad .gameLoadContainer h2 {
          font-size: 7.6rem;
          margin-bottom: 40px; } }
      @media (max-width: 550px) {
        .gameLoad .gameLoadContainer h2 {
          font-size: 3.5rem; } }
      @media (max-width: 375px) {
        .gameLoad .gameLoadContainer h2 {
          font-size: 3.5rem; } }
      @media (max-width: 320px) {
        .gameLoad .gameLoadContainer h2 {
          font-size: 2.8rem;
          margin: 10px 0; } }
    .gameLoad .gameLoadContainer p {
      font-size: 2.2rem;
      font-family: 'Montserrat', sans-serif;
      color: #000000;
      line-height: 25px;
      letter-spacing: 2.7px;
      color: #274060;
      margin-bottom: 30px;
      letter-spacing: 4px;
      text-align: center;
      line-height: 45px; }
      @media (max-width: 768px) {
        .gameLoad .gameLoadContainer p {
          font-size: 4.3rem;
          line-height: 50px;
          margin-bottom: 35px; } }
      @media (max-width: 550px) {
        .gameLoad .gameLoadContainer p {
          font-size: 2rem;
          line-height: 30px; } }
      @media (max-width: 375px) {
        .gameLoad .gameLoadContainer p {
          font-size: 2rem;
          letter-spacing: 2px;
          line-height: 30px; } }
      @media (max-width: 320px) {
        .gameLoad .gameLoadContainer p {
          font-size: 1.8rem;
          letter-spacing: 1.5px;
          line-height: 25px;
          margin-bottom: 15px; } }
    .gameLoad .gameLoadContainer .startButton {
      font-size: 2.2rem;
      font-family: 'Montserrat', sans-serif;
      color: #000000;
      line-height: 25px;
      letter-spacing: 2.7px;
      color: white;
      display: block;
      margin: 0 auto;
      background: rgba(39, 64, 96, 0.95);
      width: 18%;
      padding: 12px 0px;
      border: none;
      border-radius: 100px;
      text-transform: uppercase;
      transition: .5s all ease; }
      @media (max-width: 768px) {
        .gameLoad .gameLoadContainer .startButton {
          width: 45%;
          font-size: 4rem;
          padding: 30px 0; } }
      @media (max-width: 550px) {
        .gameLoad .gameLoadContainer .startButton {
          width: 50%; } }
      @media (max-width: 375px) {
        .gameLoad .gameLoadContainer .startButton {
          font-size: 2rem;
          width: 60%; } }
      @media (max-width: 320px) {
        .gameLoad .gameLoadContainer .startButton {
          font-size: 2rem;
          width: 65%;
          padding: 9px 0; } }
      .gameLoad .gameLoadContainer .startButton:hover {
        background: white;
        color: #274060; }

.hide {
  display: none; }

.smallFont {
  font-size: 1rem; }

main {
  background-color: #f78154;
  text-align: center;
  height: 100vh; }
  main .country {
    font-size: 6.8rem;
    font-family: 'Archivo Black', sans-serif;
    color: #000000;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 30px 0; }
    @media (max-width: 768px) {
      main .country {
        font-size: 7.5rem; } }
    @media (max-width: 550px) {
      main .country {
        font-size: 4.2rem;
        margin: 10px;
        letter-spacing: 1.3px; } }
    @media (max-width: 375px) {
      main .country {
        font-size: 3.2rem;
        margin: 10px;
        letter-spacing: 1px; } }
    @media (max-width: 320px) {
      main .country {
        font-size: 3rem;
        margin: 3px; } }
  main .clock {
    font-size: 7rem;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    line-height: 25px;
    letter-spacing: 2.7px;
    color: white;
    padding: 30px 0; }
    @media (max-width: 768px) {
      main .clock {
        font-size: 7.5rem; } }
    @media (max-width: 550px) {
      main .clock {
        font-size: 4.5rem; } }
    @media (max-width: 375px) {
      main .clock {
        font-size: 4.5rem; } }
    @media (max-width: 320px) {
      main .clock {
        font-size: 4rem; } }
  main .scoreCard {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    line-height: 25px;
    letter-spacing: 2.7px;
    color: white; }
    @media (max-width: 550px) {
      main .scoreCard {
        font-size: 3rem; } }
    @media (max-width: 375px) {
      main .scoreCard {
        font-size: 2rem; } }
    main .scoreCard p {
      font-size: 4rem;
      font-family: 'Montserrat', sans-serif;
      color: #000000;
      line-height: 25px;
      letter-spacing: 2.7px;
      color: white;
      text-transform: uppercase;
      padding: 20px 0; }
      @media (max-width: 550px) {
        main .scoreCard p {
          font-size: 3.2rem;
          padding: 10px 0; } }
      @media (max-width: 375px) {
        main .scoreCard p {
          font-size: 3rem;
          padding: 5px 0; } }
      @media (max-width: 320px) {
        main .scoreCard p {
          font-size: 3rem; } }
      @media (max-width: 320px) {
        main .scoreCard p {
          font-size: 2.5rem; } }

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0; }
  @media (max-width: 768px) {
    .buttons {
      flex-direction: column;
      align-items: center;
      margin-top: 20px; } }
  @media (max-width: 550px) {
    .buttons {
      flex-direction: column;
      margin: 35px 15px; } }
  @media (max-width: 375px) {
    .buttons {
      flex-direction: column;
      justify-content: center;
      margin: 30px 20px; } }
  .buttons .animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s; }
  .buttons .actionButton {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    width: 40%;
    border-radius: 10px;
    font-size: 3rem;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 1s all ease;
    border: none; }
    @media (max-width: 768px) {
      .buttons .actionButton {
        font-size: 5rem;
        width: 80%;
        padding: 20px 0;
        margin: 8px 0; } }
    @media (max-width: 550px) {
      .buttons .actionButton {
        width: 100%;
        padding: 15px 0; } }
    @media (max-width: 375px) {
      .buttons .actionButton {
        width: 100%; } }
    @media (max-width: 320px) {
      .buttons .actionButton {
        font-size: 2.5rem;
        padding: 10px; } }
    .buttons .actionButton:active {
      transform: translate(0px, 5px);
      -webkit-transform: translate(0px, 5px);
      border-bottom: 1px solid; }
    .buttons .actionButton:active {
      background-color: #274060;
      border-bottom: 5px solid #1f334c;
      text-shadow: 0px -2px #1f334c;
      border: none;
      outline: none; }
  .buttons .answerOne {
    background-color: #5fad56;
    border-bottom: 5px solid #42793c;
    text-shadow: 0px -2px #42793c; }
  .buttons .answerTwo {
    background-color: #4d9078;
    border-bottom: 5px solid #3d7360;
    text-shadow: 0px -2px #3d7360; }
  .buttons .answerThree {
    background-color: #b4436c;
    border-bottom: 5px solid #903556;
    text-shadow: 0px -2px #903556; }
  .buttons .answerFour {
    background-color: #2B9EB3;
    border-bottom: 5px solid #227e8f;
    text-shadow: 0px -2px #227e8f; }

.finalResult {
  background-color: rgba(225, 85, 84, 0.5); }
  .finalResult .resultBox {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .finalResult .resultBox {
        flex-direction: column;
        text-align: center; } }
    @media (max-width: 550px) {
      .finalResult .resultBox {
        flex-direction: column;
        text-align: center; } }
    @media (max-width: 375px) {
      .finalResult .resultBox {
        flex-direction: column;
        text-align: center; } }
    .finalResult .resultBox .rightAnswers,
    .finalResult .resultBox .wrongAnswers {
      font-size: 1rem;
      font-family: 'Montserrat', sans-serif;
      color: #000000;
      line-height: 25px;
      letter-spacing: 2.7px;
      color: white; }
      .finalResult .resultBox .rightAnswers h2,
      .finalResult .resultBox .wrongAnswers h2 {
        font-size: 2.3rem;
        text-transform: uppercase;
        padding: 5px 0;
        font-weight: 300;
        letter-spacing: 3px; }
        @media (max-width: 768px) {
          .finalResult .resultBox .rightAnswers h2,
          .finalResult .resultBox .wrongAnswers h2 {
            font-size: 3.5rem;
            line-height: 50px; } }
        @media (max-width: 550px) {
          .finalResult .resultBox .rightAnswers h2,
          .finalResult .resultBox .wrongAnswers h2 {
            font-size: 3.3rem;
            line-height: 40px; } }
        @media (max-width: 320px) {
          .finalResult .resultBox .rightAnswers h2,
          .finalResult .resultBox .wrongAnswers h2 {
            font-size: 2.3rem;
            line-height: 30px; } }
      .finalResult .resultBox .rightAnswers h3,
      .finalResult .resultBox .wrongAnswers h3 {
        font-size: 2rem;
        padding: 2px 0;
        font-weight: 300;
        letter-spacing: 3px; }
        @media (max-width: 768px) {
          .finalResult .resultBox .rightAnswers h3,
          .finalResult .resultBox .wrongAnswers h3 {
            font-size: 3rem;
            margin-bottom: 25px; } }
        @media (max-width: 550px) {
          .finalResult .resultBox .rightAnswers h3,
          .finalResult .resultBox .wrongAnswers h3 {
            font-size: 2.8rem;
            margin-bottom: 20px;
            line-height: 35px; } }
        @media (max-width: 320px) {
          .finalResult .resultBox .rightAnswers h3,
          .finalResult .resultBox .wrongAnswers h3 {
            font-size: 2.5rem;
            line-height: 30px; } }
      .finalResult .resultBox .rightAnswers h4,
      .finalResult .resultBox .wrongAnswers h4 {
        text-transform: uppercase;
        color: #274060;
        font-size: 2rem;
        font-weight: 400;
        padding: 15px 0; }
        @media (max-width: 768px) {
          .finalResult .resultBox .rightAnswers h4,
          .finalResult .resultBox .wrongAnswers h4 {
            font-size: 4rem;
            line-height: 50px; } }
        @media (max-width: 550px) {
          .finalResult .resultBox .rightAnswers h4,
          .finalResult .resultBox .wrongAnswers h4 {
            font-size: 3.5rem;
            line-height: 45px; } }
        @media (max-width: 320px) {
          .finalResult .resultBox .rightAnswers h4,
          .finalResult .resultBox .wrongAnswers h4 {
            font-size: 2.3rem;
            line-height: 35px; } }
