article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto; }

body {
  font-size: 1.6rem;
  position: relative; }

.gameLoad {
  background-color: rgba(252, 171, 16, 0.95);
  width: 61%;
  position: absolute;
  padding: 40px;
  left: 19.1%;
  top: 25%;
  z-index: 10; }
  .gameLoad h2 {
    font-size: 4rem;
    font-family: 'Archivo Black', sans-serif;
    color: #000000;
    letter-spacing: 9px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 20px 0; }
  .gameLoad p {
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    line-height: 25px;
    letter-spacing: 2.7px;
    color: white;
    margin-bottom: 30px; }
  .gameLoad .startButton {
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    line-height: 25px;
    letter-spacing: 2.7px;
    color: white;
    display: block;
    margin: 0 auto;
    background: #274060;
    width: 18%;
    padding: 10px 0px;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    transition: .5s all ease; }
    .gameLoad .startButton:hover {
      background: white;
      color: #274060; }

.hide {
  display: none; }

main {
  background-color: #f78154;
  height: 95vh;
  text-align: center; }

.capitalCity {
  font-size: 6.5rem;
  font-family: 'Archivo Black', sans-serif;
  color: #000000;
  letter-spacing: 9px;
  text-transform: uppercase;
  color: white;
  text-align: center; }

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0; }
  .buttons .animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s; }
  .buttons .action-button {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    width: 40%;
    border-radius: 10px;
    font-size: 3rem;
    color: white;
    text-align: center;
    text-decoration: none; }
    .buttons .action-button:active {
      transform: translate(0px, 5px);
      -webkit-transform: translate(0px, 5px);
      border-bottom: 1px solid; }
  .buttons .answerOne {
    background-color: #5fad56;
    border-bottom: 5px solid #42793c;
    text-shadow: 0px -2px #42793c; }
  .buttons .answerTwo {
    background-color: #4d9078;
    border-bottom: 5px solid #3d7360;
    text-shadow: 0px -2px #3d7360; }
  .buttons .answerThree {
    background-color: #b4436c;
    border-bottom: 5px solid #903556;
    text-shadow: 0px -2px #903556; }
  .buttons .answerFour {
    background-color: #2B9EB3;
    border-bottom: 5px solid #227e8f;
    text-shadow: 0px -2px #227e8f; }
